<div class="text-center padded">
  <h2>All my stays</h2>
</div>
<div class="text-center">
  <h4 id="red-word">MY FUTURE NIGHTS</h4>
</div>

<div class="wrapper-dashboard">
  <ul class="list-unstyled">

    <% @bookings.each do |booking| %>
      <% if booking.checkin_on > Date.today %>
        <% if booking.status == "Pending host validation" %>
        <li class="dashboard">
        <%= cl_image_tag(booking.bed.photo.path, width: 400, height: 300, crop: :fill, class: "pdt-image hidden-xs" ) %>
          <div class='product-body'>
            <h2><%= booking.bed.title %></h2>
            <p>City: <strong><%= booking.bed.city %></strong></p>
            <p>Address: <strong><%= booking.bed.address %></strong></p>
            <p>Total price: <strong><%= booking.value %> €</strong></p>
          </div>
          <div>
            <ul class="list-unstyled hidden-sm hidden-xs padded">
              <li><strong>Wait for your host to confirm. Stay tuned !</strong></li>
              <li class="text-right"><%= link_to "Delete this booking", booking_path(booking), method: :delete, class:"btn btn-default", data: {confirm: "Are you sure"} %></li>
            </ul>
          </div>
        </li>
        <% end %>

      <% if booking.status == "Confirmed" %>
      <li class="dashboard">
      <%= cl_image_tag(booking.bed.photo.path, width: 400, height: 300, crop: :fill, class: "pdt-image hidden-xs" ) %>
      <div class='product-body'>
        <h2><%= booking.bed.title %></h2>
        <p>City: <strong><%= booking.bed.city %></strong></p>
        <p>Address: <strong><%= booking.bed.address %></strong></p>
        <p>Total price: <strong><%= booking.value %> €</strong></p>
      </div>
      <div>
        <ul class="list-unstyled hidden-sm hidden-xs padded">
          <li><strong>Your booking is confirmed !</strong></li>
          <li class="text-right"><%= link_to "Delete this booking", booking_path(booking), method: :delete, class:"btn btn-default", data: {confirm: "Are you sure"} %> </li>
        </ul>
      </div>
      </li>
      <% end %>

      <% if booking.status == "Canceled" %>
      <li class="dashboard">
      <%= cl_image_tag(booking.bed.photo.path, width: 400, height: 300, crop: :fill, class: "pdt-image hidden-xs" ) %>
      <div class='product-body'>
        <h2><%= booking.bed.title %></h2>
        <p>City: <strong><%= booking.bed.city %></strong></p>
        <p>Address: <strong><%= booking.bed.address %></strong></p>
        <p>Total price: <strong><%= booking.value %> €</strong></p>
      </div>
      <div>
        <ul class="list-unstyled hidden-sm hidden-xs padded">
          <li><p><%= booking.bed.user.first_name%> canceled your booking </p></li>
        </ul>
      </div>
      </li>
      <% end %>
      <% end %>

    <% end %>
  </ul>
</div>

<div class="padded"></div>

<div class="text-center">
  <h4 id="red-word">MY PAST NIGHTS</h4>
</div>

<div class="wrapper-dashboard">
  <ul class="list-unstyled">
    <% @bookings.each do |booking| %>
      <% if booking.checkin_on <= Date.today %>
      <% if booking.status == "Confirmed" %>
     <li class="dashboard">
      <%= cl_image_tag(booking.bed.photo.path, width: 400, height: 300, crop: :fill, class: "pdt-image hidden-xs" ) %>
      <div class='product-body'>
        <h2><%= booking.bed.title %></h2>
        <p>City: <strong><%= booking.bed.city %></strong></p>
        <p>Address: <strong><%= booking.bed.address %></strong></p>
        <p>Total price: <strong><%= booking.value %> €</strong></p>
      </div>
      <div>
        <% if booking.review %>
        <div class="text-center">
        <div class="review-coment">
         <% booking.review.rating.times do %>
         <i class="fa fa-star" aria-hidden="true" ></i>
         <% end %>
         <% (5- booking.review.rating).times do %>
         <i class="fa fa-star-o" aria-hidden="true"></i>
         <% end %>
         <p> <%= booking.review.content %> </p>
       </div>
       </div>
       <%  else %>
       <div class="text-center review">
       <h3 class="text-center">Leave a review?</h3>
       <%= render 'reviews/form', booking: booking, review: @review %>
       </div>
       <% end %>
     </div>
     </li>
     <% end %>


    <% end %>

  <% end %>
</ul>
</div>


