<h1>Let's find your next sharer which will welcome you in his warm bed with open arms!</h1>
<div class="container">
  <div class="row">
    <% @beds.each do |bed| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to bed_path(bed) do %>
          <div class="card"

            <div class="card-first-name"><%= bed.user.first_name %></div>
            <div class="card-description">
              <h2><%= bed.title %></h2>
              <p><%= bed.city %></p>
              <p><%= bed.price %></p>
            </div>

            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>


