<h1>Hello</h1>


  <%= @bed.address %>
  <%= @bed.title %>
  <%= @bed.price %>
  <%= @bed.description %>
  <%= @bed.country %>
  <%= @bed.city %>
  <%= @bed.zipcode %>
  <%= @bed.blanket_type %>
  <%= @bed.pillow %>
  <%= @bed.breakfast %>

  <%= cl_image_tag(@bed.photo.path,
      width: 400, height: 300, crop: :fill) %>

  <%= simple_form_for [@bed, @booking] do |f| %>
    <%= f.input :checkin_on %>
    <%= f.input :checkout_on %>
    <%= f.submit "Book", class: "btn btn-primary"%>
  <% end %>
