<h1>Hello</h1>


  <%= @bed.address %>
  <%= @bed.title %>
  <%= @bed.price %>
  <%= @bed.description %>
  <%= @bed.country %>
  <%= @bed.city %>
  <%= @bed.zipcode %>
  <%= @bed.blanket_type %>
  <%= @bed.pillow %>
  <%= @bed.breakfast %>

  <%= cl_image_tag(@bed.photo.path,
      width: 400, height: 300, crop: :fill) %>

  <%= simple_form_for [@bed, @booking] do |f| %>
    <%= f.input :checkin_on %>
    <%= f.input :checkout_on %>
    <%= f.submit "Book", class: "btn btn-primary"%>
  <% end %>

<div id="static-map"></div>



<% content_for(:after_js) do %>

    <!-- Include Dependencies of GMaps for Rails gem -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>


  <%= javascript_tag do %>
     $(document).on('ready', function() {
        var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
        handler.buildMap({ internal: { id: 'static-map' } }, function(){
          markers = handler.addMarkers([
            {
              "lat": <%= @bed.latitude  %>,
              "lng": <%= @bed.longitude %>,

            },
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(15);
        });
      })

  <% end %>
<% end %>

