<h2 class="text-center">Here are all the <strong id="red-word">beds</strong> you are sharing!</h2>

<div class="container">
  <div class="row">
     <div class="col-xs-12 col-sm-6">
    <ul class="list-unstyled">
    <% @beds.each do |bed| %>
    <li>
      <h3><strong><%= bed.title %></strong></h3>
      <p><%= bed.address %></p>
      <p><%= bed.city %></p>
      <p><%= bed.country %></p>
      <p><%= bed.zipcode %></p>
      <p><%= bed.price %></p>
      <p><%= bed.blanket_type %></p>

      <%= cl_image_tag(bed.photo.path,
      width: 400, height: 300, crop: :fill) %>
      <hr>
      <%= link_to "Edit this bed", edit_bed_path(bed), class:"btn btn-danger"%>
    </li>
    <% end %>
    </ul>
  </div>
  </div>
</div>



