<h2 class="text-center">Here are all the <strong id="red-word">beds</strong> you are sharing!</h2>

<div class="container-fluid">
  <div class="col-sm-7">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
      <% @beds.each do |bed| %>
        <div class="cardContainer">
          <div class="card-image"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bed.photo.path, width: 400,height: 300, crop: :thumb %>')">
        </div>
        <div class="card">
          <div class="card-description">
            <h3><%= bed.title %></h3>
            <i><%= bed.address %></i>
            <i><%= bed.city %></i>
            <i><%= bed.country %></i>
            <div class="card-price">
              <p><%= bed.price %></p>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "Edit this bed", edit_bed_path(bed), class:"btn btn-danger"%>
      <% end %>
      </div>
    </div>
  </div>
</div>

