<div class="text-center">
  <h2>Here are all the <strong id="red-word">beds</strong> you are sharing!</h2>
</div>


<div class="wrapper-dashboard padded">
  <ul class="list-unstyled">
    <% @beds.each do |bed| %>
    <li class="padded dashboard">
      <%= cl_image_tag(bed.photo.path, width: 400, height: 300, crop: :fill, class: "pdt-image hidden-xs" ) %>

      <div class='product-body'>

        <h2><strong><%= bed.title %></strong></h2>
        <h4>Located in <strong><%= bed.city %></strong></h4>
        <h4>Description: <%=bed.description%></h4>
        <h4>Price: <strong><%= bed.price %>€/night </strong></h4>
      </div>

      <ul class="list-inline hidden-sm hidden-xs">
        <%= link_to "Edit this bed", edit_bed_path(bed), class:"btn btn-default-black"%>
      </ul>

    </li>
      <hr>
      <% end %>
  </ul>
</div>





